run_get_contigs/smpls.csv
define_smpls/input/p1_2520_Illumina_raw_path.csv
define_smpls/input/smpls_list_BGI_p2.csv
define_smpls/input/p1_1908_BGI_clean_path.csv
define_smpls/all_sequenced_samples_m.xlsx
define_smpls/all_sequenced_samples.csv
define_smpls/input/p2_197_BGI_raw_path.csv
define_smpls/Illumina_only_samples.txt
define_smpls/BGI_only_samples.txt
reads_number_comparison/input/ReadsNumb_BGI.csv
reads_number_comparison/input/ReadsNumb_BGI_p2.csv
reads_number_comparison/input/ReadsNumb_Illumina.csv
reads_number_comparison/results/ReadsNumb_both_sets.xlsx
reads_number_comparison/results/BGI_duplicates.xlsx
reads_number_comparison/results/Illumina_duplicates.xlsx
